<div class="main-container x-close">
    <button class="btn btn-outline-danger btn-grad " (click)="goToLanding()"><img src="../../../assets/images/X.svg" /></button>
</div>


<div class="secondary-container">
   
    <div class="headers">Signup to get started </div>
    <div class="second-header">Signup to TurnUp</div>
    <div class="alt-login">
        <button class="btn btn-outline-primary google mx-3"><img src="../../../assets/images/google.svg" class="mx-2"/>Google</button>
        <button class="btn btn-outline-primary facebook"><img src="../../../assets/images/facebook.svg" class="mx-2"/>Facebook</button>
    </div>

    <p><span class="line">or continue with</span></p>

    <div class="">
        <input type="text" class="form-control .text-box" placeholder="Firstname"/>
    </div>
    <div class="">
        <input type="text" class="form-control .text-box" placeholder="Lastname"/>
    </div>
    <div class="">
        <input type="text" class="form-control .text-box" placeholder="Email"/>
    </div>
    <div>
        <input type="text" class="form-control .text-box" placeholder="Password"/>
    </div>
    <div>
        <input type="text" class="form-control .text-box" placeholder="Confirm Password"/>
    </div>


    <div>
        <button class="signup">Create Account</button>
       
    </div>
    <div class="account">have an account? <span class="login">login up!</span> </div>

</div>

