<div id="theme-options-wrapper">
    <div data-mode="light" id="light-mode" class="theme-dot"></div>
    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
    <div data-mode="green" id="green-mode" class="theme-dot"></div>
    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
</div>


<section>
    <div class="main-container">
        <div class="intro-wrapper">
            <div >
                <label> Connect | Party | Network  </label>
                <h3 class="turnup-intro">Nigeria's foremost event management 
                    platform, where people visit when they 
                    want to find something fun to do in 
                    their area.</h3>

                    <p class="intro-wrapper2">
                        Turn-spot has been used by users to connect, form friendships,
                         get support, expand their businesses, and pursue their interests. 
                         Join the fun as thousands of events take place every day.
                    </p>
            </div>

           

            <div class="party-image">
                <img src="../../../assets/images/party1.png" id="party1" alt="">
            </div>
            
        </div>

        <button class="btn btn-outline-secondary join-now">Join now</button>
        
    </div>
   
</section>

<section class="mt-5">
    <div class="main-container">

    
    <div class="flex sub-header">
        <span class="mx-3">
            All
        </span>
        <span class="mx-3">
            Online
        </span>
        <span class="mx-3">
            Today
        </span >
        <span class="mx-3">
            This weekend
        </span>
        <span class="mx-3">
            Free
        </span>
        <span class="mx-3">
            Music
        </span>
        <span class="mx-3">
            Owambe
        </span>
        <span class="mx-3">
            Food & Drink
        </span>
        <span class="mx-3">
            Concert
        </span>
        <span class="mx-3">
            Charity & Causes
        </span>
        <span class="mx-3">
            VIP
        </span>

        
    </div>

    <label class="mx-3">Search for events</label>
    <div class="search-bar search-bar-shadow">
        <img class="home mx-3" src="../../../assets/images/home.png">
        <label class="m-2" for="">Turn-up spot in</label>
     
            <select name="locations">
                <option value="">Select Location</option>
                <option value="lagos">Lagos</option>
                <option value="Abuja">Abuja</option>
                <option value="Gombe">Gombe</option>
            </select>
      
        <img class="divider" src="../../../assets/images/divider.png">
    </div>
    </div>
</section>