<div id="theme-options-wrapper">
    <div data-mode="light" id="light-mode" class="theme-dot"></div>
    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
    <div data-mode="green" id="green-mode" class="theme-dot"></div>
    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
</div>


<section>
    <div class="main-container">
        <div class="hero">
            <div >
                <!-- <label> CONNECT <span class="party">Party</span>  <span class="network">Network</span>   </label> -->
                <label > <span class="connect">CONNECT</span> <span class="party">PARTY</span>  <span class="network"> NETWORK </span>  </label>
                <h3 class="content">Nigeria's foremost event management 
                    platform, where people visit when they 
                    want to find something fun to do in 
                    their area.</h3>

                    <p class="sub-content">
                        Turn-spot has been used by users to connect, form friendships,
                         get support, expand their businesses, and pursue their interests. 
                         Join the fun as thousands of events take place every day.
                    </p>
            </div>

           

            <div class="party-image">
                <img src="../../../assets/images/party1.png" id="hero-image" alt="">
            </div>
            
        </div>

        <button class="btn btn-outline-secondary join-now">Join now</button>
        
    </div>
   
</section>

<section class="mt-5">
    <div class="main-container">

    
    <div >
        <ul class="menu">
            <li>All</li>
            <li>Online</li>
            <li>Today</li>
            <li>This weekend</li>
            <li>Free</li>
            <li>Music</li>
            <li>Owambe</li>
            <li>Food & Drink</li>
            <li>Concert</li>
            <li>Charity & Causes</li>
              
            <li>VIP</li>
        </ul>
            
        
    </div>

    <label class="search-header">Search for events</label>
    <form>
        <div class="search_input">
            <div class="home-text">
                <div class="home-icon">
                    <img src="../../../assets/images/home.png">
                </div>
               
                <div class="text">
                    <label class="turn-up">Turn-up spot in</label>
                    <select name="locations" class="select_options">
                        <option value="">Select Location</option>
                        <option value="lagos">Lagos</option>
                        <option value="Abuja">Abuja</option>
                        <option value="Gombe">Gombe</option>
                    </select>
                </div>
            </div>
            
            
            <div class="date-text">
                <div class="date-icon" >
                    <img  src="../../../assets/images/calendar.png" alt="">
                </div>
                    
                    <div class="date-select">
                        <label for="date" class="date" >Date</label>
                        <input type="date"
                        placeholder="Datepicker"
                        class=" datepicker"
                        >
                    </div>
           
            </div>
        </div>
      
        <div class="search">
            <button class="search_btn">Search</button>
        </div>
    </form>

  

    </div>


</section>

<section class="mt-5">
    <div class="main-container">
        <div class="popular">
            <h2 class="sub-headers">Most Popular CATEGORIES </h2>
            <img class="arrow" src="/assets/images/arrow.png" alt="arrow"/>
        </div>
         
        <div class="categories">
        <div class="category-images">
            <img src="../../../assets/images/parties.png" class="mpc-images" alt="">
            <h5 class="category-name">Parties</h5>
        </div>
           
        <div class="category-images">
            <img src="../../../assets/images/seminars.png" class="mpc-images" alt="">
            <h5 class="category-name">Seminars</h5>
        </div>
           
        <div class="category-images">
            <img src="../../../assets/images/awards.png" class="mpc-images" alt="">
            <h5 class="category-name">Awards</h5>
        </div>
        <div class="category-images">
        
            <img src="../../../assets/images/vendors.png" class="mpc-images" alt="">
            <h5 class="category-name">Vendors</h5>
        </div>
        </div>



        </div>


</section>